<div class="main-container">
  <div class="grid">
    <!-- Campo de empresa -->
    <div class="col">
      <label for="company">Empresa:</label>
      <br>
      <p-dropdown 
        id="company" 
        [options]="companyOptions" 
        (onChange)="onChangeCompany($event)"
        placeholder="Seleccionar una empresa" 
        optionLabel="name" 
        [showClear]="true"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </div>
    <!-- Campo de xlsx -->
    <div class="col">
      <label for="xlsxFile">Selección de SAE:</label>
      <p-fileUpload 
        id="xlsxFile" 
        #fileUpload 
        mode="basic" 
        [customUpload]="true" 
        accept=".xlsx" 
        (onSelect)="onBasicUpload($event)"
        [multiple]="true" 
        [maxFileSize]="fileSizeMax" 
        chooseLabel="Cargar XLSX" 
        [disabled]="!isXlsx"
      ></p-fileUpload>
    </div>
  </div>

</div>
